---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Celebrating Love">
  <!-- Hero Section -->
  <section class="hero scroll-animate">
    <h1>Celebrating Love</h1>
    <p>Wishing you joy, laughter, and endless love as you begin this new chapter together.</p>
  </section>

  <!-- Word Cloud Section -->
  <section class="wordcloud scroll-animate">
    <span>It's Our Honor to Congratulate you, May this Moment Be Blessed</span>
    <span>congrats larry I'm so happy for you!!</span>
    <span>CONGRATS LARRYYY I HOPE YOU AND EZIO HAVE AN AMAZING FUTURE</span>
    <span>Congrats on being shorter than a tree stump (oh and the marriage too or whatever)</span>
    <span>Congrats Larry, I wish you a beautiful future and a peaceful life with your husband!</span>
  </section>

  <!-- Navigation -->

  <section class="buttons scroll-animate">
    <button onclick="window.location.href='/message'">View Messages</button>
    <button onclick="window.location.href='/knud'">A Present From Knud</button>
  </section>

  <section class="seal-corner scroll-animate">
    <img src="/images/seal1.jpg" alt="Seal 1" />
    <img src="/images/seal2.jpg" alt="Seal 2" />
  </section>
</Layout>