---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Celebrating Love">
  <h1>Congratulations on Your Wedding</h1>
  <p>Wishing you joy, laughter, and endless love as you begin this new chapter together.</p>
  <nav>
    <a href="/message">A Note</a> |
    <a href="/gallery">Gallery</a>
  </nav>
</Layout>