---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Messages">
  <h2 class="reveal">Heartfelt Congratulations</h2>
  <ul class="messages">
    <li class="reveal">Congratulations!</li>
    <li class="reveal">Best Wishes</li>
    <li class="reveal">Lots of Love</li>
    <li class="reveal">Forever Happiness</li>
    <li class="reveal">Cheers to You</li>
  </ul>
</Layout>