---
import Layout from "../layouts/Layout.astro";
---

<Layout title="A Note">
  <h2>From a Friend</h2>
  <p>
    Though we’ve only met online, I wanted to create something special to celebrate your big day.
    May your marriage be filled with happiness, adventure, and love that grows stronger every year.
  </p>
</Layout>